<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a [routerLink]="'/home' | localize" class="navbar-brand">Localize</a>
    <button
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="isCollapsed" [isAnimated]="true" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="'/home' | localize"
            aria-current="page"
            class="nav-link"
            routerLinkActive="active">{{'HOMEPAGE' | translate}}</a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="'/feature' | localize"
            class="nav-link"
            routerLinkActive="active">{{'FEATURE' | translate}}</a>
        </li>
      </ul>

      <ul class="navbar-nav language-dropdown">
        <li class="nav-item dropdown" dropdown>
          <a
            aria-expanded="false"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            dropdownToggle
            id="navbarDropdown"
            role="button">
            {{'CHANGE_LANGUAGE' | translate}}
          </a>
          <ul *dropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
            <li *ngFor="let locale of locales">
              <button
                type="button"
                class="dropdown-item"
                (click)="changeLang(locale)">
                {{locale}}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
